# Base de datos
DB_HOST=localhost
DB_PORT=1433
DB_USERNAME=sa
DB_PASSWORD=tu_password
DB_NAME=MAYA_CRH_DB

# JWT
JWT_SECRET=may_a_rch_secret_key_2026
JWT_EXPIRES_IN=24h

# Server
PORT=3000

# Frontend URL (para CORS)
FRONTEND_URL=http://localhost:4200
